body{
 background-color: #CDF0EA;
}
h1{
  colour: #37E2D5;
}
h3{
  colour: #37E2D5;
}
/*hr{
  position: absolute;
  background-colour:white;
  border-style: none;
  height: 0;
  width: 360px;
  top-line:2px;
  border-style: dashed;
  border-color: white;
   border-width: 2px;   <!-- dashed,dotted,solid,double -->
}*/
img{
  height: auto;
}
.circular
{
  border-radius: 100%;
}
/*.two{
  background-color: #D3D3D3;
}*/
